<!-- EJS FILE DISPLAY ALL CAMPGROUNDS -->
<% layout('layouts/boilerplate') %> 


<div id="cluster-map"></div>


<h1>All Campgrounds</h1>

<div class="row">
    <%for (let campground of campgrounds) { %>
        <div class="col-lg-4 col-sm-6">
            <div class="card mt-3 mb-3" style="height:450px">
                <!-- if campground has any image (campground.image.length > 0)-->
                <% if(campground.images.length) { %> 
                    <img src="<%=campground.images[0].url%>" class="card-img-top img-fluid" alt="n/a" style="min-height: 260px; max-height: 260px;">
                <% } else { %> 
                    <img class="card-img-top" src="https://2.bp.blogspot.com/-qRxtFaB7jx8/X1nCRlHt9nI/AAAAAAAAJUg/H78LryanWb8WSFiaN4wq59gcjo9mo11lQCNcBGAsYHQ/s640/arti%2Bna.jpg" alt="n/a">
                <% } %> 
                <div class="card-body">
                    <h5 class="class-title"><%= campground.title %></h5>
                    <p class="card-text text-truncate"><%= campground.description%> </p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %> </small>
                    </p>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-outline-info">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    <%} %>
</div>


<footer>
    <a href="/campgrounds/new">Add a new campground</a>
</footer>

<script>
    const mapboxToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = {features: <%-JSON.stringify(campgrounds)%>};
</script>
<script src="/javascripts/clusterMap.js"></script>