<% layout('layouts/boilerplate') %> 

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3">
            <img src="<%=campground.image%>" class="card-img-top" alt="N/A">
            <div class="card-body">
              <h5 class="card-title"><%=campground.title%></h5>
              <p class="card-text"><%=campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%=campground.location%></li>
              <li class="list-group-item">Host: <%=campground.author.username%></li>
              <li class="list-group-item">$<%=campground.price%>/night</li>
            </ul>
            <!-- first, check if there is someone signing in. if yes,
            check if the person signing in is the author of the campground. 
            if yes, show delete/edit button
            else, hide them-->
            <% if (currentUser && campground.author.equals(currentUser._id)) { %> 
              <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Delete</button>
                </form>
              </div>
            <% } %> 
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-lg-6">
          <!-- render the form only when a user is logged in -->
          <% if (currentUser) { %> 
            <h2>Leave a Review</h2>
            <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
              <div class="mb-3">
                <label class="form-label" for="rating">Ratings</label>
                <input class="form-range" type="range"  min="1" max="5" name="review[rating]" id="rating">
              </div>
              <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="invalid-feedback">
                  You have to write a review to submit.
                </div>
              </div>
              <button class="btn btn-success">Submit</button>
            </form>
          <% } %> 
            <% for (let review of campground.reviews) { %> 
              <div class="card">
                <div class="mb-3 card-body">
                  <h5 class="card-title">Ratings: <%= review.rating %> </h5>
                  <p class="card-text"><%= review.body %></p>
                  <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            <% } %> 
    </div>
</div>
